body{
    padding: 0;
}
.container{
    margin: 0 auto;
    max-width: 800px;
    margin: 30px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
}
h2{
    font-weight: bold;
}
p{
    text-align: justify;
}
aside{
    display: flex;
    flex-direction: column;
}
aside .board{
    margin-top: 20px;
    color: #37516C;
}
.board .title{
    background-color: #37516C;
    border-radius: 10px 10px 0 0;
    font-weight: bold;
    color: white;
}
.board div{
    padding: 10px 20px;
    border-bottom: 1px #37516C solid;
    background-color: #B0C4DF;
}
.board div:last-child{
    border-radius: 0 0 10px 10px;
    border: none;
}
@media screen and (min-width: 599px) and (max-width:801px) {
    .container{
        display: flex;
        flex-direction: column;
    }
    aside{
        flex-direction: row;
    }
    aside .board{
        flex-basis: 50%;
        margin-right: 20px;
        
    }
    aside .board:last-child{
        margin-right: 0;
    }
}
@media screen and (max-width: 600px){
    .container{
        display: flex;
        flex-direction: column;
    }
}