
body{
    background-color: #ADD9E6;
    padding: 20px;
}
p{
    margin-top: 10px;
}
img{
    display: block;
}
h4{
    margin: 0;
}
.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    max-width: 1110px;
    margin: auto;
}
.wrapper div{
    max-width: 350px;
    
}
.wrapper div div{
    margin-bottom: 30px;
}
.wrapper div div:last-child{
    margin-bottom: 0px;
}
.wrapper div div div{
    background-color: white;
    padding: 20px;
}