@import "../css/null_style.css";
body, .wrapper {
  height: 100%;
  width: 100%;
  max-width: 1920px;
}
body .container, .wrapper .container {
  margin: 0 auto;
  max-width: 1240px;
  padding: 0 20px;
}

.button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px white solid;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
.button button {
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.button :hover {
  background-color: #A9A32A;
}

.socials-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.socials-block button {
  background-color: transparent;
  margin: auto 5px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.socials-block button :hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.intro {
  text-align: center;
  background: url("../images/block1-img1.jpg") center top no-repeat;
  color: white;
}
.intro .logo-block {
  padding-top: 50px;
}
.intro .title-super {
  margin-top: 140px;
  font-family: Noto Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
}
.intro .title {
  font-family: Noto Sans;
  font-size: 64px;
  font-weight: 700;
  letter-spacing: 0em;
}
.intro .title-under {
  font-family: Noto Sans;
  font-size: 42px;
  font-weight: 400;
  line-height: 57px;
  letter-spacing: 0em;
}
.intro .button {
  margin-top: 55px;
}
.intro .socials-block {
  margin-top: 240px;
  padding-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info-1 {
  padding: 120px 0;
}
.info-1 .title {
  font-size: 24px;
  font-weight: 700;
  color: #868585;
}
.info-1 .services .services-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  margin: 50px 0 120px 0;
}
.info-1 .services .services-block .item {
  margin-bottom: 50px;
}
.info-1 .services .services-block .item .item-title {
  color: #303030;
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 15px;
  line-height: 24.52px;
}
.info-1 .services .services-block .item .item-text {
  font-weight: 400px;
  font-size: 14px;
  color: #303030;
  line-height: 19.07px;
}
.info-1 .services .services-img img {
  width: 100%;
}
.info-1 .tariff .title {
  margin-bottom: 70px;
}
.info-1 .tariff .tariff-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}
.info-1 .tariff .tariff-block .items .menu button {
  font-size: 18px;
  line-height: 24.52px;
  background-color: transparent;
  margin-right: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.info-1 .tariff .tariff-block .items .menu button :hover {
  border-bottom: 1px solid #303030;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.info-1 .tariff .tariff-block .items .item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-top: 120px;
}
.info-1 .tariff .tariff-block .items .item .item-img img {
  width: 100%;
}
.info-1 .tariff .tariff-block .items .item .item-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.info-1 .tariff .tariff-block .items .item .item-description .text {
  font-size: 14px;
  line-height: 19.07px;
  color: #303030;
}
.info-1 .tariff .tariff-block .items .item .item-description button {
  margin: 0 5px;
  background-color: transparent;
}
.info-1 .tariff .tariff-block .items .item .item-description button :hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.info-1 .tariff .tariff-block .items .text-blocks {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}
.info-1 .tariff .tariff-block .items .text-blocks .block .title {
  font-size: 18px;
  line-height: 24.52px;
  margin-bottom: 5px;
  color: #303030;
}
.info-1 .tariff .tariff-block .items .text-blocks .block .text {
  font-size: 14px;
  line-height: 19.07px;
}
.info-1 .tariff .tariff-block .tariff-img-block .title {
  font-size: 18px;
  line-height: 24.52px;
  margin-bottom: 30px;
  color: #303030;
}
.info-1 .tariff .tariff-block .tariff-img-block .img-block img {
  width: 100%;
}

.quote {
  background: url("../images/block3-img1.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.quote .text {
  font-size: 42px;
  color: white;
  line-height: 57.2px;
  text-align: center;
  max-width: 40%;
  padding: 120px 0;
}

.info-2 {
  padding: 120px 0;
}
.info-2 .title, .info-2 .title-2 {
  font-size: 24px;
  font-weight: 700;
  color: #868585;
  padding-bottom: 30px;
}
.info-2 .container .item-block:nth-child(2) {
  padding-top: 0px;
}
.info-2 .item-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  padding-top: 120px;
}
.info-2 .item-block .img-block img {
  width: 100%;
}
.info-2 .item-block .img-block .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}
.info-2 .item-block .img-block .buttons button {
  margin: 0 5px;
  background-color: transparent;
}
.info-2 .item-block .img-block .buttons button :hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.info-2 .item-block .text-block .title {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  color: #303030;
}
.info-2 .item-block .text-block li {
  padding: 20px 0 0 50px;
  list-style-type: none;
}
.info-2 .item-block .text-block li li:first-child {
  padding-top: 0px;
}
.info-2 .item-block .text-block .text {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  color: #303030;
}
.info-2 .item-block .text-block .button {
  border: 2px #303030 solid;
  margin: 50px 0;
}
.info-2 .item-block .item-block2-list .number {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  color: #868585;
  padding: 20px 0 10px 0;
}
.info-2 .item-block .item-block2-list li {
  padding: 0;
}
.info-2 .item-block .item-block2-list .title {
  padding: 0;
}

.footer {
  background: url("../images/block5-img1.jpg") no-repeat center;
  color: white;
}
.footer .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  padding-top: 70px;
  padding-bottom: 100px;
}
.footer .content input::-webkit-input-placeholder {
  opacity: 1;
  color: white;
}
.footer .content input::-moz-placeholder {
  opacity: 1;
  color: white;
}
.footer .content input:-ms-input-placeholder {
  opacity: 1;
  color: white;
}
.footer .content input::-ms-input-placeholder {
  opacity: 1;
  color: white;
}
.footer .content input::placeholder {
  opacity: 1;
  color: white;
}
.footer .content .title {
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0em;
}
.footer .content .forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer .content .forms input {
  margin-top: 50px;
  padding: 5px 0;
  background-color: transparent;
  border-bottom: 1px white solid;
  color: white;
}
.footer .content .button {
  margin: 70px 0;
}
.footer .content .contacts ol {
  list-style-type: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
}
.footer .content .contacts ol li {
  padding-bottom: 30px;
}
.footer .content .contacts .title {
  padding-bottom: 50px;
}
.footer .under {
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .under .politic {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}