@import "../css/null_style.css";

//variables
$hover_color: #A9A32A;
$gray_clr: #868585;
$black_clr: #303030;

body, .wrapper{
    height: 100%;
    width: 100%;
    max-width: 1920px;
    .container{
        margin: 0 auto;
        max-width: 1240px;
        padding: 0 20px;
    }
}
//consultation button
.button{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px white solid;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    & button{
        width: 100%;
        height: 100%;
        background-color: transparent;
    }
    & :hover{
        background-color: $hover_color;
    }
}
//block1
.intro{
    text-align: center;
    background: url("../images/block1-img1.jpg") center top no-repeat;
    color: white;
    & .logo-block{
        padding-top: 50px;
    }
    & .title-super{
        margin-top: 140px;
        //styleName: Text 18 px;
        font-family: Noto Sans;
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0em;
    }
    & .title{
        font-family: Noto Sans;
        font-size: 64px;
        font-weight: 700;
        letter-spacing: 0em;
    }
    & .title-under{
        font-family: Noto Sans;
        font-size: 42px;
        font-weight: 400;
        line-height: 57px;
        letter-spacing: 0em;
    }
    & .button{
        margin-top: 55px;
    }
    & .socials-block{
        margin-top: 240px;
        padding-bottom: 30px;
        display: flex;
        justify-content: center;
        & button{
            background-color: transparent;
            margin: auto 5px;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.5s;
            & :hover{
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                transition: 0.5s;
            }
        }
    }
}
//block2
.info-1{
    padding: 120px 0;
    & .title{
        font-size: 24px;
        font-weight: 700;
        color: $gray_clr;
    }
    & .services{
        & .services-block{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 80px;
            margin: 50px 0 120px 0;
            & .item{
                margin-bottom: 50px;
                & .item-title{
                    color: $black_clr;
                    font-size: 18px;
                    font-weight: 700;
                    padding-bottom: 15px;
                    line-height: 24.52px;
                }
                & .item-text{
                    font-weight: 400px;
                    font-size: 14px;
                    color:$black_clr;
                    line-height: 19.07px;
                }
            }
        }
        & .services-img{
            & img{
                width: 100%;
            }
        }
    }
    & .tariff{
        & .title{
            margin-bottom: 70px;
        }
        & .tariff-block{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 100px;
            & .items{
                & .menu{
                    & .button-sale{

                    }
                    & .button-pins{
                        
                    }
                    & .button-restr{
                        
                    }
                }
                & .item{
                    & .item-img{
                        & img{

                        }
                    }
                    & .item-description{
                        & .text{

                        }
                        & .buttons{
                            & .left{

                            }
                            & .right{

                            }
                        }
                    }
                }
                & .text-blocks{
                    & .block{
                        & .title{

                        }
                        & .text{
                            
                        }
                    }
                }
            }
            & .tariff-img-block{
                & .title{
                    font-size: 18px;
                    line-height: 24.52px;
                    margin-bottom: 30px;
                    color: $black_clr;
                }
                & .img-block{
                    & img{
                        width: 100%;
                    }
                }
            }
        }
    }
}