button img{
    width: 200px;
    filter: grayscale(100%);
    margin-left: -25px;
    margin-top: -20px;
    transition: 0.1s;
}
button{
    overflow: hidden;
    width: 160px;
    height: 160px;
    border: 0;
    background-color: transparent;
}
button img:hover{
    filter: grayscale(0%);
    width: 320px;
    margin: -100px 0 -100px -85px;
    transition: 0.3s;
}
div{
    display: flex;
    justify-content: center;
}