body{
   & .container{
      max-width: 800px;
      margin: 0 auto;
   }
   & h1,h2{
      text-align: center;
   }
   & .bold{
      font-weight: bold;
   }
   & .red{
      color: red;
      background-color: #E7E7E7;
      padding: 2px;
      border-radius: 5px;
   }
   & code pre{
      background-color: #E7E7E7;
      padding: 20px 40px;
      color: red;
      font-size: 16px;
      & span{
         color: black;
      }
   }
   & .tags{
      color: aqua;
      & span{
         background-color: #E7E7E7;
      }
      & .bold{
         color: black;
         background-color: transparent;
      }
   }
}