body{
    padding: 10px;
    margin: 0px;
}
/*task1*/
#block-task-1{
    padding: 20px;
    background-color: #EF9EAF;
    color: white;
}
#block-task-1 ol{
    margin: 0px;
    padding: 0;
    list-style: none;
    counter-reset: myCounter;
}
#block-task-1 ol li{
    padding: 10px 0px;
    margin-bottom: 10px;
    background-color: #CB6375;
}
#block-task-1 ol li:last-child{
    margin-bottom: 0;
}
#block-task-1 li::before{
    padding: 0 15px;
    counter-increment: myCounter;
    content: counter(myCounter) '.';
}
#block-task-1 ol li span{
    background-color: #9D3649;
    padding: 10px 15px;
}

/*task2*/

#block-task-2{
    padding: 20px 40px;
}

#block-task-2 ul{
    list-style: none;
    padding: 0px;
    background-color: #A5CCDB;
}
#block-task-2 ul li{
    padding: 15px 0;
    padding-left: 50px;
}
#block-task-2 ul li:nth-child(2n-1){
    background-color: #ADD9E6;
}
#block-task-2 img{
    width: 10px;
    height: 10px;
    margin-left: 20px;
}
#block-task-2 li::before{
    content: url('icons/unchecked_16.png');
    padding-right: 20px;
}
.checked-li{
    background-color: #E2E2E2 !important;
    text-decoration: line-through;
}

#block-task-2 .checked-li::before{
    content: url('icons/checked_16.png');
    padding-right: 20px;
}

/*task3*/

#block-task-3{
    padding: 10px;
}
#block-task-3 .links{
    color: #131A75;
}
#block-task-3 .color-quote{
    color: gray;
}