body .container {
  max-width: 800px;
  margin: 0 auto;
}
body h1, body h2 {
  text-align: center;
}
body .bold {
  font-weight: bold;
}
body .red {
  color: red;
  background-color: #E7E7E7;
  padding: 2px;
  border-radius: 5px;
}
body code pre {
  background-color: #E7E7E7;
  padding: 20px 40px;
  color: red;
  font-size: 16px;
}
body code pre span {
  color: black;
}
body .tags {
  color: aqua;
}
body .tags span {
  background-color: #E7E7E7;
}
body .tags .bold {
  color: black;
  background-color: transparent;
}