html{
    width: 3000px;
    height: 3000px;
}
body{
    padding: 20px;
}
table tr td{
    height: 40px;
    width: 100px;
    color: black;
    font-weight: bold;
    text-align: center;
}
table tr:nth-child(2n){
    background-color: gray;
}
table tr{
    background-color: white;
}
table tr td:first-child{
    background-color: aqua;
    position: sticky;
    left: 0;
}
table tr:first-child{
    background-color: aqua;
    position: sticky;
    top: 0;
}