body{
    background-color: #E35D44;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div p{
    color: white;
    margin: 20px 0;
    text-align: center;
}
.item{
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #E6E4E5;
}
.item input{
    margin: 0 0 20px 0;
    height: 40px;
    border: 0;
    text-align: center;
}
.item h1{
    margin-bottom: 50px;
}
.item input::placeholder{
    font-weight: bold;
}
.item button{
    background-color: #33A75C;
    height: 40px;
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}
.item a{
    color: #E35D44;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
.links button:first-child{
    background-color: #3A5BA0;
    color: white;
    font-size: 20px;
    padding: 10px 40px;
    border: 0;
}
.links button:first-child img{
    margin-right: 20px;
}
.links button:last-child{
    background-color: #1CB6EC;
    color: white;
    font-size: 20px;
    padding: 10px 40px;
    border: 0;
    margin-left: 20px;
}
.links button:last-child img{
    margin-right: 20px;
}
.links{
    display: flex;
    justify-content: space-between;
}