.container{
    margin: 0 auto;
    max-width: 1250px;
}
body,p,h2{padding: 0;margin: 0;}img{display: block; width: 100%;}
.wrapper{
    display: flex;
}
.company h2{
    padding: 30px;
    font-size: 22px;
    color: #454345;
    border-bottom: 1px #C1C1C1 solid;
}
.company nav{
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
}
.company nav a{
    display: flex;
    height: 40px;
    border: none;
    color: gray;
    padding: 0;
    align-items: center;
    text-decoration: none;
    width: 100%;
}
.company nav a p{
    margin: 10px 10px 10px 50px;
}
.company nav .dashboard{
    background: url(images/dashboard_gray.svg) 20px center no-repeat;
    background-size: 20px 20px;
    margin: 0;
}
.company nav .profile{
    background: url(images/account_gray.svg) 20px center no-repeat;
    background-size: 20px 20px;
}
.company nav .maps{
    background: url(images/map_gray.svg) 20px center no-repeat;
    background-size: 20px 20px;
}
.company nav .notifications{
    background: url(images/notify_gray.svg) 20px center no-repeat;
    background-size: 20px 20px;
}
.company nav .support{
    background: url(images/support_gray.svg) 20px center no-repeat;
    background-size: 20px 20px;
}

.company nav .dashboard:focus{
    color: white;
    background: url(images/dashboard_white.svg) 20px center no-repeat, #C32056;
    background-size: 20px 20px;
    transition: 0.5s;
}
.company nav .profile:focus{
    color: white;
    background: url(images/account_white.svg) 20px center no-repeat, #C32056;
    background-size: 20px 20px;
    transition: 0.5s;
}
.company nav .maps:focus{
    color: white;
    background: url(images/map_white.png) 20px center no-repeat, #C32056;
    background-size: 20px 20px;
    transition: 0.5s;
}
.company nav .notifications:focus{
    color: white;
    background: url(images/notify_white.png) 20px center no-repeat, #C32056;
    background-size: 20px 20px;
    transition: 0.5s;
}
.company nav .support:focus{
    color: white;
    background: url(images/support_white.png) 20px center no-repeat, #C32056;
    background-size: 20px 20px;
    transition: 0.5s;
}
/* main */

.dashboard{
    border-left: 4px #C1C1C1 solid;
    background-color: #EAEAEA;
}
.dashboard h2{
    padding: 30px;
    font-size: 22px;
    color: #454345;
}
.items-numbers{
    display: flex;
    padding: 10px 30px;
}
.items-numbers .container{
   display: flex;
   margin: 0;
   margin-left: 20px;
   width: 100%;
}
.items-numbers .item{
    position: relative;
    margin-left: 20px;
    width: 100%;
}
.items-numbers .item:first-child, .items-numbers .container:first-child{
    margin: 0;
}
.items-numbers .item .icon{
    position: absolute;
    padding: 20px;
    left: 15px;
    top: -15px;
}
.items-numbers .item .block{
    background-color: #F6F6F6;
    box-shadow: gray 4px 4px 2px;
    min-height: 100%;
    min-width: 100%;
}
.items-numbers .item .block .title{
    text-transform:inherit;
    text-wrap: wrap;
    color: gray;
    font-size: 14px;
    padding: 20px 20px 0 100px;
}
.items-numbers .item .block p{
    text-align: right;
}
.items-numbers .item .block p:nth-child(2){
    font-size: 24px;
    padding: 5px 20px 15px 105px;
}
.items-numbers .item .block .under{
    display: flex;
    margin: 0 20px;
    border-top: 2px #C1C1C1 solid;
}
.items-numbers .item .block .under img{
    height: 20px;
    width: 20px;
    padding-top: 20px;
    padding-right: 10px;
}
.items-numbers .item .block .under p{
    padding: 25px 0;
    text-wrap: nowrap;
    color: gray;
    font-size: 11px;
    margin: auto 0;
}
.items-numbers .container:first-child .item:nth-child(1) .icon{
    background-color: #448B00;
}
.items-numbers .container:first-child .item:nth-child(2) .icon{
    background-color: #D89E24;
}
.items-numbers .container:last-child .item:nth-child(1) .icon{
    background-color: #274D97;
}
.items-numbers .container:last-child .item:nth-child(2) .icon{
    background-color: #C32056;
}
/* items-statistic */
.items-statistic{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px 30px;
    gap: 20px;
}
.items-statistic .item{
    padding: 0px 20px 20px 20px;
    background-color: #F6F6F6;
    box-shadow: gray 4px 4px 2px;
    color: gray;
    position: relative;
}
.items-statistic .item .icon{
    background-color: #448B00;
    margin: -20px 0 10px 0;
    padding: 20px;
}
.items-statistic .item .under{
    display: flex;
    border-top: 2px #C1C1C1 solid;
}
.items-statistic .item .under img{
    width: 20px;
    height: 20px;
    padding-top: 10px;
}
.items-statistic .item .under p{
    padding: 13px 0  0 5px;
    font-size: 12px;
}
.items-statistic .item .under-title{
    padding: 5px 0 10px 0;
    font-size: 15px;
}
/* items-lists */
/* first block */
.items-lists{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 0 30px;
}
.items-lists .item{
    background-color: #F6F6F6;
    box-shadow: gray 4px 4px 2px;
    padding: 0 20px 0px 20px;
}
.items-lists .item .menu-block{
    display: flex;
    background-color: #D89E24;
    color: white;
    padding: 10px 20px;
    align-items: center;
    margin-top: -20px;
}
.items-lists .item .menu-block p{
    margin-right: 10px;
}
.items-lists .item .menu-block button{
    color: white;
    display: flex;
    padding: 10px 20px;
    border-radius: 3px;
    border: none;
    background: transparent;
    transition: 0.5s;
}
.items-lists .item .menu-block button img{
    margin-right: 5px;
}
.items-lists .item .menu-block button:focus{
    background-color: #DEAD49;
    transition: 0.5s;
}
.items-lists .item .list-block ul{
    list-style: none;
    padding: 0;
}
.items-lists .item .list-block ul li{
    display: grid;
    grid-template-columns: 1fr 15fr 1fr 1fr;
    font-size: 14px;
    color: gray;
    border-bottom: 1px #C1C1C1 solid;
}
.items-lists .item .list-block ul li img{
    height: 20px;
    width: 20px;
    margin: auto 5px;
}
.items-lists .item .list-block ul li input{
    width: 15px;
    margin: 0 10px;
}
.items-lists .item .list-block ul li span{
    padding: 10px 5px;
}
.items-lists .item .list-block ul li:last-child{
    border-bottom: none;
}
/* second block */

.items-lists .item .info-block{
    background-color: #274D97;
    margin-top: -20px;
    color: white;
    padding: 10px 20px;
}
.items-lists .item .info-block .title{
    font-size: 18px;
    margin-bottom: 10px;
}
.items-lists .item .info-block .under-title{
    font-size: 14px;
}
.items-lists .item .table-block{
    padding: 20px 0;
}
.items-lists .table-block table{
    width: 100%;
    border-collapse: collapse;
}
.items-lists .table-block table tr td{
    padding: 10px 0;
    border-bottom: 1px #C1C1C1 solid;
    padding-left: 10px;
    color: gray;
    font-size: 14px;
}
.items-lists .table-block table tr:first-child td{
    color: #2B9A9B;
}
/* footer */

footer{
    margin: 40px 0 30px 20px;
    display: flex;
    border-top: 3px #C1C1C1 solid;
    padding: 20px 30px 0 20px;
    display: flex;
    justify-content: space-between;
    color: gray;
}
footer a{
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: #73787D;
    font-size: 14px;
    margin-right: 30px;
}
.company{
    position: fixed;
    z-index: 1;
    width: 14%;
}
.dashboard{
    margin-left: 17%;
}
.dashboard .title-block button{
    width: 35px;
    border: 0;
    background-color: transparent;
    display: none;
}
/* adaptive */

@media screen and (max-width: 1000px){
    .items-numbers{
        flex-direction: column;
    }
    .items-numbers .container{
        margin: 0;
        margin-top: 50px;
    }
    .items-numbers .container .item{
        width: 50%;
    }
    .items-lists{
        display: flex;
        flex-direction: column;
    }
    .items-lists .item{
        margin-bottom: 30px;
    }
    .items-lists .item:last-child{
        margin-bottom: 00px;
    }
}
@media screen and (max-width: 650px){
    .items-statistic{
        display: flex;
        flex-direction: column;
    }
    .items-statistic .item{
        margin-top: 20px;
    }
    .items-statistic .item:first-child{
        margin-top: 0px;
    }
}
@media screen and (max-width: 500px){
    .items-numbers{
        flex-direction: column;
    }
    .items-numbers .container{
        flex-direction: column;
        margin: 0;
    }
    .items-numbers .container .item{
        width: 100%;
        margin: 0;
        margin-top: 40px;
    }
    .items-numbers .container:first-child .item:first-child{
        margin: 0;
    }
}
/* menu */
@media screen and (max-width:801px){
    .company{
        display: none;
    }
    .dashboard{
        margin: 0;
        border-left: none;
    }
    .dashboard .title-block button{
        display: inline-block;
        margin-right: 10px;
        
    }
}