@import "null_style.css";
.container {
  margin: 0 auto;
  max-width: 900px;
}

.header {
  background-color: #A23646;
}
.header .logo {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  margin-right: 50px;
}
.header .nav {
  display: inline-block;
}
.header .nav a {
  color: white;
  display: inline-block;
  padding: 20px 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header .nav a:hover {
  background-color: #922F3C;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer {
  max-width: 100%;
}
.footer .title {
  font-weight: bold;
  margin: 10px 0;
}
.footer .row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 20px;
  gap: 20px;
  border: 1px solid black;
}
.footer .row .item img {
  width: 100%;
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer .row .item p {
  margin-top: 20px;
  text-align: center;
}